header img{
width:90px;
}
.menue li{
margin-top:10px;
}

.titre{
color:#FF5862;
margin:0;
padding:0;
}

.phrase{
margin:0;
padding:0;
}

@media screen and (max-width:700px){
	header{
		background-color: #FF5862;
	}
	.titre{
		color:darkgrey;
	}
	.phrase{
		color:white;
	}
}